{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 align="middle">Create new post</h1><br><br>
    <form action="/newpost" method="GET">
    <p class="lead">Post Heading:    </p><input type="text" id="heading" name="heading"><br>
    <br>
    <link rel="stylesheet" href="/static/editormd/css/editormd.min.css" />
<div id="editor">
    <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
    <textarea id="content" name="content" style="display:none;">### Hello !</textarea>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/editormd/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editor", {
            // width: "100%",
            // height: "100%",
            // markdown: "xxxx",     // dynamic set Markdown text
            path : "/static/editormd/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
        });
    });
</script>
    <br><input type="submit">
    </form>
    {% endblock %}
{% block heading %}
    TMC Blog
{% endblock %}
{% block item1 %}
    View All Posts
{% endblock %}
{% block item1href %}
    "/posts"
{% endblock %}
{% block item2 %}
Create Post
{% endblock %}
{% block item2href %}
"/createpost"
{% endblock %}