{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 align="middle">Create new post</h1><br><br>
    <form action="/newpost" method="GET">
    <p class="lead">Post Heading:    </p><input type="text" id="heading" name="heading"><br>
    <p class="lead">Post content:    </p><textarea rows=4 cols=10 id="content" name="content"></textarea>
    <br><br><input type="submit">
    </form>
    {% endblock %}
{% block heading %}
    TMC Blog
{% endblock %}
{% block item1 %}
    View All Posts
{% endblock %}
{% block item1href %}
    "/posts"
{% endblock %}
{% block item2 %}
Create Post
{% endblock %}
{% block item2href %}
"/createpost"
{% endblock %}