{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 style="color:black;">{% block title %} Welcome to the super communist blog {% endblock %}</h1>
    <h3 style="color:black;">View all posts by click at navbar</h3>
    <br>
    <br>
    {% endblock %}
{% block heading %}
    TMC Blog
{% endblock %}
{% block item1 %}
    View All Posts
{% endblock %}
{% block item1href %}
    "/posts"
{% endblock %}
{% block item2 %}
Create Post
{% endblock %}
{% block item2href %}
"/createpost"
{% endblock %}